platforms/

*.o
*.a
*.so
*.dylib
*.exe
*.bin
*.DS_Store
*.dll
*.pdb
*.lib
*.pwasm
*.cwasm
*.wasm
*.db
*.tar.xz

**/.cxx/
**/build/
**/release/
**/debug/
**/.kotlin/
**/.zig-cache/
**/.gradle/
**/build/
**/release/
**/debug/
**/.idea/
**/.vscode/
**/.cache/

**/local.properties
**/*.cwasm
**/*.wasm
**/*.lib
**/*.dll
**/*.pdb
**/*.a
**/*.so
**/*.o
**/*.dylib
**/*.exe
**/*.bin
**/.DS_Stor
**/compile_commands.json
**/*.pwasm
**/*.db
**/*.cwasm
**/*.wasm
**/*.tar.xz
/structs/
