BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 140
BreakBeforeBraces: Attach
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
IncludeBlocks: Preserve
SortIncludes: Never
